<main class="card-parent relative"> <p-progressSpinner *ngIf="loading"></p-progressSpinner> 
  <div class="dis-element">
    <div class="div-input">
      <label for="" class="text-white text-size20 font-semibold">Amount</label>
      <input
        type="text"
        name="amount"
        class="amount-input"
        [(ngModel)]="amount"
      />
    </div>
    <div class="div-input">
      <label for="" class="text-white text-size20 font-semibold">From</label>
      <app-dropdown
        [selectedCurrency]="selectedCurrency"
        (getSelectedCurrency)="currencyFrom = $event"
      ></app-dropdown>
    </div>
  </div>
  <!-- <button (click)="swapCurrencies()" class="btn blue-btn mt-10">
    Swap Currencies
  </button> -->
  <div class="dis-element">
    <div class="div-input">
      <label for="" class="text-white text-size20 font-semibold">To</label>
      <app-dropdown
        [selectedCurrency]="selectedCurrency"
        (getSelectedCurrency)="currencyTo = $event"
      ></app-dropdown>
    </div>
    <div class="div-input">
      <label for="" class="text-white text-size20 font-semibold">Amount</label>

      <input
        class="amount-input"
        type="text"
        name="conversion_result"
        [(ngModel)]="conversion_result"
        readonly="readonly"
      />
    </div>
  </div>

  <button (click)="submit()" [disabled]="loading" class="btn blue-btn mt-10">  Convert</button>
  </main>

