.convert-card {
    border-radius: 21.314px;
    background: linear-gradient(134deg,
            rgba(0, 0, 0, 0.4) 0%,
            rgba(157, 157, 157, 0.2) 100%);
    backdrop-filter: blur(5.264404296875px);
    border: 1px solid rgb(147, 147, 147);
}

