<main class="card-parent"> <p-progressSpinner *ngIf="loading"></p-progressSpinner> 
  <div class="dis-element">
    <div class="div-input">
      <label for="" class="text-white text-size20 font-semibold">Amount</label>
      <input type="text" name="result"  class="amount-input" [(ngModel)]="amount">
    </div>
      
    <div class="div-input">
      <label for="" class="text-white text-size20 font-semibold">From</label>
      <app-dropdown [selectedCurrency]="selectedCurrency" (getSelectedCurrency)="currencyFrom = $event"></app-dropdown>
    </div>
  </div>
  <div class="target">
      <div class="dis-element">
        <div class="target-field div-input">
          <label for="" class="text-white text-size20 font-semibold">Targeted currency</label>
          <app-dropdown [selectedCurrency]="selectedCurrency1" (getSelectedCurrency)="currency1To = $event"></app-dropdown>
          <input class="amount-input" type="text" name="result1" [(ngModel)]="result1" readonly="readonly"  >
        </div>
          
        <div class="div-input target-field">
          <label for="" class="text-white text-size20 font-semibold">Targeted currency</label>
          <app-dropdown [selectedCurrency]="selectedCurrency2" (getSelectedCurrency)="currency2To = $event"></app-dropdown>
          <input class="amount-input" type="text" name="result2" [(ngModel)]="result2" readonly="readonly"  >
        </div>
      </div>
  </div>
  <button (click)="submit()" [disabled]="loading" class="btn blue-btn mt-5 "> Compare</button></main>