<div class="main-container bg-white">
  <div
    class="header"
    style="
      background: url('../../../assets/images/glowing-computer-monitor-displays-financial-figures-trading-generated-by-ai-1.png'),
        lightgray 50% / cover no-repeat;
    "
  >
    <div
      class="logo"
      style="
        background: url('../../../assets/images/final\ 1.png'),
          transparent 50% / cover no-repeat;
      "
    ></div>
  </div>

  <div class="body-container">
    <div class="body-head">
      <h4 class="live-exchange-rates-title">live exchange rates</h4>
      <button (click)="showFavorites = true" class="fav-btn-holder">
        <div class="fav-btn-elements">
          <div class="icon">
            <img src="../../../assets/icons/plus1.svg" alt="" />
          </div>
          <span class="add-to-favorites"> Add to Favorites </span>
        </div>
      </button>
    </div>

    <div class="portofolios-container">
      <div class="title">
        <span class="portofolio-title">My Portofolio</span>
      </div>
      <div class="title">
        <span class="portofolio-title">My Portofolio</span>
      </div>
      <!-- use ng for here -->
      <!-- <div *ngFor="let currency; in: currencies"> -->

      <div class="currency-block">
        <div class="currency-logo-info">
          <div class="currency-logo-holder">
            <img
              src="../../../assets/images/united-states-of-america1.svg"
              alt=""
              class="w-[97.525px] h-[97.525px] rounded-[50%]"
            />
          </div>
          <div class="currency-info">
            <p class="currency-name-text">USD</p>
            <p class="currency-label">CURRENCY</p>
          </div>
        </div>

        <div class="currency-value">
          <span class="rate-value">1.00</span>
        </div>
      </div>
      <div class="currency-block">
        <div class="currency-logo-info">
          <div class="currency-logo-holder">
            <img
              src="../../../assets/images/united-states-of-america1.svg"
              alt=""
              class="w-[97.525px] h-[97.525px] rounded-[50%]"
            />
          </div>
          <div class="currency-info">
            <p class="currency-name-text">USD</p>
            <p class="currency-label">CURRENCY</p>
          </div>
        </div>

        <div class="currency-value">
          <span class="rate-value">1.00</span>
        </div>
      </div>
      <div class="currency-block">
        <div class="currency-logo-info">
          <div class="currency-logo-holder">
            <img
              src="../../../assets/images/united-states-of-america1.svg"
              alt=""
              class="w-[97.525px] h-[97.525px] rounded-[50%]"
            />
          </div>
          <div class="currency-info">
            <p class="currency-name-text">USD</p>
            <p class="currency-label">CURRENCY</p>
          </div>
        </div>

        <div class="currency-value">
          <span class="rate-value">1.00</span>
        </div>
      </div>
      <div class="currency-block">
        <div class="currency-logo-info">
          <div class="currency-logo-holder">
            <img
              src="../../../assets/images/united-states-of-america1.svg"
              alt=""
              class="w-[97.525px] h-[97.525px] rounded-[50%]"
            />
          </div>
          <div class="currency-info">
            <p class="currency-name-text">USD</p>
            <p class="currency-label">CURRENCY</p>
          </div>
        </div>

        <div class="currency-value">
          <span class="rate-value">1.00</span>
        </div>
      </div>
      <div class="currency-block">
        <div class="currency-logo-info">
          <div class="currency-logo-holder">
            <img
              src="../../../assets/images/united-states-of-america1.svg"
              alt=""
              class="w-[97.525px] h-[97.525px] rounded-[50%]"
            />
          </div>
          <div class="currency-info">
            <p class="currency-name-text">USD</p>
            <p class="currency-label">CURRENCY</p>
          </div>
        </div>

        <div class="currency-value">
          <span class="rate-value">1.00</span>
        </div>
      </div>
      <div class="currency-block">
        <div class="currency-logo-info">
          <div class="currency-logo-holder">
            <img
              src="../../../assets/images/united-states-of-america1.svg"
              alt=""
              class="w-[97.525px] h-[97.525px] rounded-[50%]"
            />
          </div>
          <div class="currency-info">
            <p class="currency-name-text">USD</p>
            <p class="currency-label">CURRENCY</p>
          </div>
        </div>

        <div class="currency-value">
          <span class="rate-value">1.00</span>
        </div>
      </div>
      <div class="currency-block">
        <div class="currency-logo-info">
          <div class="currency-logo-holder">
            <img
              src="../../../assets/images/united-states-of-america1.svg"
              alt=""
              class="w-[97.525px] h-[97.525px] rounded-[50%]"
            />
          </div>
          <div class="currency-info">
            <p class="currency-name-text">USD</p>
            <p class="currency-label">CURRENCY</p>
          </div>
        </div>

        <div class="currency-value">
          <span class="rate-value">1.00</span>
        </div>
      </div>
      <div class="currency-block">
        <div class="currency-logo-info">
          <div class="currency-logo-holder">
            <img
              src="../../../assets/images/united-states-of-america1.svg"
              alt=""
              class="w-[97.525px] h-[97.525px] rounded-[50%]"
            />
          </div>
          <div class="currency-info">
            <p class="currency-name-text">USD</p>
            <p class="currency-label">CURRENCY</p>
          </div>
        </div>

        <div class="currency-value">
          <span class="rate-value">1.00</span>
        </div>
      </div>
    </div>
  </div>

  <app-favorites
    *ngIf="showFavorites"
    (close$)="showFavorites = $event"
  ></app-favorites>
</div>
