<div class="relative main-container bg-white">
  <app-favorites
    class="absolute"
    *ngIf="showFavorites"
    (close$)="showFavorites = $event"
  ></app-favorites>

  <div class="body-container">
    <div class="body-head">
      <h4 class="live-exchange-rates-title">live exchange rates</h4>
      <button (click)="showFavorites = true" class="fav-btn-holder">
        <div class="fav-btn-elements">
          <div class="icon">
            <img src="../../../assets/icons/plus1.svg" alt="" />
          </div>
          <span class="add-to-favorites"> Add to Favorites </span>
        </div>
      </button>
    </div>

    <div class="portofolios-container">
      <div class="title">
        <span class="portofolio-title">My Portofolio</span>
      </div>
      <div class="title">
        <span class="portofolio-title">My Portofolio</span>
      </div>

      <div *ngFor="let currency of currencyDataArray">
        <div class="currency-block">
          <div class="currency-logo-info">
            <div class="currency-logo-holder">
              <img
                [src]="currency.flagUrl"
                alt=""
                class="w-[97.525px] h-[97.525px] rounded-[50%]"
              />
            </div>
            <div class="currency-info">
              <p class="currency-name-text">{{ currency.currencyCode }}</p>
              <p class="currency-label">CURRENCY</p>
            </div>
          </div>
          <div class="currency-value">
            <span class="rate-value">{{ currency.rate }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
