.wrapper {
  background-image: url("../assets/images/backgroun.png");
  background-size: cover;
  height: 100%;
  width: 100%;
}

.logo {
  width: 100%;

  .site-name {
    margin: 30px;
    display: inline-block;
  }
}