:host::ng-deep {

  .p-dropdown  {
      @apply w-space-222 h-space-70 rounded-radius31  flex justify-center items-center
            outline-none
  }

  .p-dropdown-panel{
    margin-top:10px;
  }

.selected-flag{
  width : 40px;
  height: 30px;
  
}
.selected-country{
  @apply  text-size20 text-black-200; 
}

}