@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;

}

// buttons component
@layer components {

  // abstract button
  .btn {
    @apply rounded-radius39 flex items-center justify-center;
  }

  // babyblue button
  .blue-btn {
    @apply rounded-radius34 bg-blue h-space-84 w-full text-white hover:bg-blue-100 transition-all duration-300 font-bold text-size23;
  }

  //add fav button
  .dis-element {
    @apply flex justify-between;
  }

  .amount-input {
    @apply w-space-222 h-space-70 text-black text-size23 font-semibold rounded-radius31 outline-none p-[20px] border border-black-300
  }

  .div-input {
    @apply flex flex-col gap-3 justify-between;

  }

  .card-parent {
    @apply flex flex-col gap-5 justify-between w-full;
  }

}

html,
body {
  height: 100%;
}



.p-dropdown {
  @apply border-0 outline-none
}