<!-- <div
  class="fav-card-container"
> -->
<div class="fav-card relative">
  <button class="close-btn" (click)="close$.emit(false)">
    <img src="../../../assets/icons/x.svg" alt="" />
  </button>

  <div class="fav-card-elements">
    <!--give full height and full width-->
    <div class="fav-card-title">
      <span class="card-title">My Favorites</span>
    </div>

    <!-- <div *ngFor="let currency in currencies "> -->

    <div
      *ngFor="let currency of currencies; let i = index"
      class="block-wrapper"
    >
      <!-- <div class="fav-currency-block">
        <div class="currency-logo-info">
          <div class="currency-logo">
            <img src="{{ currency.flagUrl }}" />
          </div>
          <div class="currency-info">
            <p class="fav-currency-title">{{ currency.currencyCode }}</p>
            <p class="fav-currency-label">CURRENCY</p>
          </div>
        </div>
        <div class="custom-checkbox">
          <input
            type="checkbox"
            name="checkbox"
            id="{{ i }}"
            class="checkbox-item"
          />
          <label for="{{ i }}" class="checkbox-label"></label>
        </div> -->

      <app-currency-block class="block" [currency]="currency">
        <div class="custom-checkbox">
          <input
            type="checkbox"
            name="checkbox"
            id="{{ i }}"
            class="checkbox-item"
            (change)="filterCurrencies()"
          />
          <label for="{{ i }}" class="checkbox-label"></label>
        </div>
      </app-currency-block>

      <!-- </div> -->

      <!--
    </div> -->

      <!-- <app-currency-block class="block">
      <div class="custom-checkbox">
        <input
          type="checkbox"
          name="checkbox"
          id="checkbox-0"
          class="checkbox-item"
        />
        <label for="checkbox-0" class="checkbox-label"></label>
      </div>
    </app-currency-block> -->

      <!-- end of blocks container -->

      <!-- </div> end of fav-currency-block -->
    </div>
    <!-- fav-card-elements -->
  </div>
  <!--fav-card-container -->
  <!-- </div> -->
</div>
