<!-- <div
  class="fav-card-container"
> -->
<div class="fav-card relative">
  <button class="close-btn" (click)="close$.emit(false)">
    <img src="../../../assets/icons/x.svg" alt="" />
  </button>

  <div class="fav-card-elements">
    <!--give full height and full width-->
    <div class="fav-card-title">
      <span class="card-title">My Favorites</span>
    </div>

    <!-- <div *ngFor="let currency in currencies "> -->

    <!-- <div class="fav-currency-block">
      <div class="currency-logo-info">
        <div class="currency-logo">
          <img src="../../../assets/images/united-states-of-america1.svg" />
        </div>
        <div class="currency-info">
          <p class="fav-currency-title">USD</p>
          <p class="fav-currency-label">CURRENCY</p>
        </div>
      </div>
      <div class="custom-checkbox">
        <input
          type="checkbox"
          name="checkbox"
          id="checkbox-0"
          class="checkbox-item"
        />
        <label for="checkbox-0" class="checkbox-label"></label>
      </div>
    </div> -->
    <app-currency-block class="block">
      <div class="custom-checkbox">
        <input
          type="checkbox"
          name="checkbox"
          id="checkbox-0"
          class="checkbox-item"
        />
        <label for="checkbox-0" class="checkbox-label"></label>
      </div>
    </app-currency-block>
    <!-- <app-currency-block class="block">
      <div class="custom-checkbox">
        <input
          type="checkbox"
          name="checkbox"
          id="checkbox-0"
          class="checkbox-item"
        />
        <label for="checkbox-0" class="checkbox-label"></label>
      </div>
    </app-currency-block> -->

    <!-- end of blocks container -->

    <!-- </div> end of fav-currency-block -->
  </div>
  <!-- fav-card-elements -->
</div>
<!--fav-card-container -->
<!-- </div> -->
