<div class="fav-card relative">
  <button class="close-btn" (click)="close$.emit(false)">
    <img src="../../../assets/icons/x.svg" alt="" />
  </button>

  <div class="fav-card-elements">
    <!--give full height and full width-->
    <div class="fav-card-title">
      <span class="card-title">My Favorites</span>
    </div>

    <div
      *ngFor="let currency of currencies; let i = index"
      class="block-wrapper"
    >
      <div class="fav-currency-block">
        <div class="currency-logo-info">
          <div class="currency-logo">
            <img src="{{ currency.flagUrl }}" />
          </div>
          <div class="currency-info">
            <p class="fav-currency-title">{{ currency.currencyCode }}</p>
            <p class="fav-currency-label">CURRENCY</p>
          </div>
        </div>
        <div class="custom-checkbox">
          <input
            type="checkbox"
            name="checkbox"
            id="{{ currency.currencyCode }}"
            class="checkbox-item"
            (change)="onCheckboxChange(currency)"
            [checked]="currency.checked"
          />
          <label
            for="{{ currency.currencyCode }}"
            class="checkbox-label"
          ></label>
        </div>
      </div>
    </div>
  </div>
</div>
