<div class="currency-block">
  <div class="currency-logo-info">
    <div class="currency-logo-holder">
      <img
        [src]="currency.flagUrl"
        alt=""
        class="w-[97.525px] h-[97.525px] rounded-[50%]"
      />
    </div>
    <div class="currency-info">
      <p class="currency-name-text">{{ currency.currencyCode }}</p>
      <p class="currency-label">CURRENCY</p>
    </div>
  </div>

  <!-- <div class="currency-value">
      <span class="rate-value">1.00</span>
    </div> -->
  <div class="currency-value">
    <ng-content></ng-content>
  </div>
</div>
